*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  color: #1E2E36;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1E2E36;
}

li {
  list-style: none;
}

button {
  border: inherit;
  background-color: inherit;
  cursor: pointer;
}

.container {
  max-width: 1818px;
  padding: 0 15px;
  margin: 0 auto;
}

.nav {
  padding: 10px 0;
}
.nav__top {
  display: flex;
  align-items: center;
  position: relative;
}
.nav__top::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 1px;
  background-color: #1E2E36;
  margin-bottom: -10px;
  opacity: 0.6;
}
.nav__social {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}
.nav__text {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 23px;
}
.nav__phone {
  height: 24px;
  height: 24px;
  padding: 0 0 0 35px;
}
.nav__num {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 125%;
  padding: 0 5px;
}
.nav__links {
  font-size: 1.0625rem;
  text-transform: uppercase;
}
.nav__links > ul {
  display: flex;
}
.nav__link {
  padding-left: 15px;
}
.nav__link:first-child {
  padding-left: 0;
}
.nav__link_active {
  position: relative;
}
.nav__link_active::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -5px;
  height: 3px;
  background-color: #44C697;
}

.link {
  height: 40px;
  height: 40px;
  padding: 0 0 0 5px;
}

.btn_arrow {
  height: 24px;
  height: 24px;
  border: inherit;
  background-color: inherit;
  cursor: pointer;
}

.nav .nav__bottom_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__links {
  display: flex;
  align-items: center;
}
.nav__logo {
  display: flex;
  align-items: center;
  padding: 23px 0 23px 65px;
}
.nav__logo > a > img {
  width: 125px;
  height: 75px;
}
.nav .logo__text {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 125%;
  text-transform: none;
  padding: 15px 0 15px 15px;
}
.nav .logo__text::first-letter {
  color: #44C697;
}
.nav__purchase {
  display: flex;
}
.nav__purchase .shopper {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding-right: 30px;
}
.nav__purchase .shopper img {
  padding-right: 5px;
}

.btn-green {
  width: 278px;
  height: 51px;
  font-size: 1.125rem;
  font-weight: 700;
  background-color: #44C697;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 3px;
}

.main {
  min-height: 785px;
  background: url(/photo/svgs/main/Rectangle\ 137.jpg) center no-repeat;
}
.main__body {
  position: relative;
}
.main__item {
  width: 462px;
  height: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  top: -2;
  z-index: 1000;
}
.main__item > .btn-green {
  width: 209px;
  height: 51px;
  margin: 30px;
}
.main__promo {
  font-weight: 700;
  font-size: 4rem;
  line-height: 100%;
  padding-top: 100px;
}
.main__subtitle {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 100%;
  padding: 40px 0 10px 0;
}
.main__text {
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  padding-top: 10px;
}

.slide-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.slide-count {
  font-size: 2.25rem;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.slide-arrows > button {
  width: 30px;
  height: 30px;
  padding: 0;
}/*# sourceMappingURL=style.css.map */