$white: #FFFFFF;
$main-text-color: #1E2E36;
$greenish: #44C697;

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    color: $main-text-color;
    // overflow:hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $main-text-color;
}

li {
    list-style: none;
}
button{
    border: inherit;
    background-color: inherit;
    cursor: pointer;
}

// Header > nav__top

.container {
    max-width: 1818px;
    padding: 0 15px;
    margin: 0 auto;
}

.nav {
    padding: 10px 0;

    &__top {
        display: flex;
        align-items: center;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            bottom: 0;
            height: 1px;
            background-color: $main-text-color;
            margin-bottom: -10px;
            opacity: 0.6;

        }

    }

    &__social {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
    }

    &__text {
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 23px;
    }

    &__phone {
        height: 24px;
        height: 24px;
        padding: 0 0 0 35px;
    }

    &__num {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 125%;
        padding: 0 5px;

    }

    &__links {
        font-size: 1.0625rem;
        text-transform: uppercase;

    }

    &__links>ul {
        display: flex;
    }

    &__link {
        padding-left: 15px;



        &:first-child {
            padding-left: 0;
        }

        &_active {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                bottom: -5px;
                height: 3px;
                background-color: $greenish;
            }

        }
    }
}

.link {
    height: 40px;
    height: 40px;
    padding: 0 0 0 5px;
}

.btn {

    &_arrow {
        height: 24px;
        height: 24px;
        border: inherit;
        background-color: inherit;
        cursor: pointer;
    }
}

// Header > nav__top END

// Header > nav__bottom

.nav {

    .nav__bottom_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__links {
        display: flex;
        align-items: center;
    }


    &__logo {
        display: flex;
        align-items: center;
        padding: 23px 0 23px 65px;
        & > a > img{
            width: 125px;
            height: 75px;
        }
    }

    .logo {

        &__text {
            font-size: 2.25rem;
            font-weight: 700;
            line-height: 125%;

            text-transform: none;

            padding: 15px 0 15px 15px;

            &::first-letter {
                color: $greenish;
            }
        }
    }

    &__purchase {
        display: flex;

        .shopper{
            display: flex;
            align-items: center;
            text-transform: uppercase;

            padding-right: 30px;
            & img {
            padding-right: 5px;
            }
        }
    }
}



.btn-green {
    width: 278px;
    height: 51px;

    font-size: 1.125rem;
    font-weight: 700;

    background-color: $greenish;
    color: $white;
    text-transform: uppercase;

    border-radius: 3px;
}

// Header > nav__bottom END

// Main

.main {
    // max-width: 100%;
    min-height: 785px;
    background: url(/photo/svgs/main/Rectangle\ 137.jpg) center no-repeat;


    &__body {
        position: relative;
    }

    &__item {
        width: 462px;
        height: 670px;
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 0 auto;

        background-color: $white;
        position: absolute;
        left: 0;
        top: -2;
        z-index: 1000;

        & > .btn-green{
            width: 209px;
            height: 51px;

            margin: 30px;
        }
    }


    &__promo {
        font-weight: 700;
        font-size: 4rem;
        line-height: 100%;

        padding-top: 100px;
    }

    &__subtitle {
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 100%;
        padding: 40px 0 10px 0;
    }

    &__text {
        font-weight: 400;
        font-size: 36px;
        line-height: 45px;
        text-align: center;
        padding-top: 10px;
    }

}

.slide-control {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px;
}
.slide-count{
    font-size: 2.25rem;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
.slide-arrows > button{
    width: 30px;
    height: 30px;
    padding: 0;
}